.env
cache
build
yarn.lock
node_modules
coverage.json
package-lock.json
coverage
.coverage_*
.openzeppelin
artifacts/
scripts/testnet-scripts/deploy-multiple-tokens/deploy_output.json
scripts/testnet-scripts/deploy-multiple-tokens/deploy_parameters.json